body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.button {
  cursor: pointer;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.red-button {
  background-color: #ee3643;
}

.red-button:hover {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.container {
  width: 940px;
  margin: 0 auto;
}
/* Header */

.header {
  background-color: #f1f5f7;
  min-height: 260px; /* временно */
  margin-bottom: 59px;
}

.header-up {
  background-color: #293449;

  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  height: 42px; /* временно */
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.header-up .logo {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 12px;
  padding-bottom: 6px;
}

.header-up form {
  width: 270px;
}

.search input {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.search input:hover {
  color: #ffffff;

  background-color: #212a3a;
}

.search input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search input::placeholder {
  color: #ffffff;
}

.header-up a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-up .header-bookmark,
.header-up .header-basket,
.header-up .checkout-order {
  width: 150px;
}

.header-up .header-basket:hover,
.header-up .header-bookmark:hover {
  background-color: #212a3a;
}

.header-up .header-basket:active,
.header-up .header-bookmark:active {
  background-color: #161d29;

  opacity: 0.6;
}

.header-up .checkout-order:hover {
  background-color: #5fbb2d;
}

.header-up .checkout-order:active {
  background-color: #518534;
}

.header-medium-down {
  min-width: 278px;  /*временно для сетки*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-medium {
  background-color: #f1f5f7;
  min-height: 68px;  /*временно для сетки*/
  margin-bottom: 43px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-medium h1,
.header-medium .site-info {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin-right: 70px;
  width: 200px;
}

.header-medium .user-info {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 50px;
}

.header-medium .data-info {
  width: 270px;
}

.user-info .users-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.data-info a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.user-info a:hover {
  color: #ee3643;
}

.user-info a:active {
  color: #000000;
  opacity: 0.3;
}

.user-info .username:hover {
  color: inherit;
}

.data-info p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  padding: 0;
  margin: 0;
}

.user-info a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-info li {
  list-style: none;
}

.user-info .orders,
.user-info .cabinet {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-info .orders:hover {
  color: #ee3643;
}

.user-info .orders:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  min-height: 55px; /* временно */
  width: 940px;
}

.site-navigation ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.site-navigation  li {
  list-style: none;
}

.site-navigation a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  display: block;
  padding: 20px 30px;
}

.site-navigation .first {
  padding-left: 52px;
}

.site-navigation .last {
  padding-right: 55px;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;

  background-color: #1d2739;
}

/* Main */

.offers {
  margin-top: 119px;
  min-height: 409px;
  margin-bottom: 53px;
  display: flex;
  flex-wrap: wrap;
}

.category {
  width: 300px;
  height: 123px;
}

.popular-products .header-popular-products,
.popular-manufacturers .header-popular-manufacturers {
  background-color: #f9f5f0;
}

.header-popular-products h2,
.header-popular-manufacturers h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  text-transform: uppercase;
}

.popular-products h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.header-popular-products,
.header-popular-manufacturers {
  display: flex;
}

.popular-products {
  min-height: 427px; /* Временное */
  margin-bottom: 21px;
}

.popular-manufacturers {
  min-height: 418px; /* Временное */
  margin-bottom: 85px;
}

.popular-manufacturers ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

.products-items {
  display: flex;
  justify-content: space-between;
}

.products-items article {
  width: 220px;
  height: 317px; /* Временно для сетки */
  margin-bottom: 20px;
}

.alt-color {
  background-color: #868889;
}

.old_price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;

  text-transform: uppercase;
}

.new_price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.popular-manufacturers li {
  list-style: none;
}

.button-buy {
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;

  color: #ffffff;
}

.button-buy:hover {
  background-color: #5fbb2d;
}


.button-buy:active {
  background-color: #518534;
}


.button-bookmark {
  background-color: #ffffff;
  border: 3px solid #63a63e;

  color: #32425c;
}

.button-bookmark:hover {
  border: 3px solid #32425c;

  color: #32425c;
}

.button-bookmark:active {
  border: 3px solid #32425c 0.3;

  color: #32425c;
  opacity: 0.3;
}

.service {
  background-color: #f1f5f7;
  min-height: 522px; /* временно*/
  margin-bottom: 80px;

  display: flex;
  flex-direction: column;
}

.service-top {
  width:400px;
}

.service h2 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;

  text-transform: uppercase;
}

.service p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;

  text-transform: uppercase;
}

.service-down {
  display: flex;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 80px;
}

.about-company {
  min-height: 370px; /* временно */
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-company .info,
.about-company .contacts {
  min-height: 370px; /* временно */
}

.about-company .info {
  width: 520px;
}

.about-company .contacts {
  width: 300px;
}

.about-company h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;

  text-transform: uppercase;
}

.transport_companies {
  margin: 0;
  padding: 0;
  list-style: none;
}

.transport_companies li {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 18px;
}

.transport_companies li:last-child {
  margin-bottom: 36px;
}

.about-company p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about-company .info p:nth-child(2) {
  margin-bottom: 24px;
}

.about-company .info p:nth-child(3) {
  margin-bottom: 22px;
}

.contacts p {
  width: 180px;
  margin-bottom: 32px;
}

.contacts img {
  margin-bottom: 36px;
}

/*Main внутренней странцы*/

.bread-crumbs li {
  list-style: none;
}

.bread-crumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  text-transform: uppercase;
}

.inner-page-h1 {
  background-color: #f2f6f8;
}

.inner-page h1 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  vertical-align: middle;
  text-align: left;

  margin-bottom: 20px;
  min-height: 90px;   /* Временно для сетки */
}

.inner-page h2 {
  background-color: #f7f3ec;
}

.inner-page .bread-crumbs {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;

  min-height: 60px; /* Временно для сетки */
}

.inner-page h2,
.sorting-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  vertical-align: middle;
  text-align: left;
  text-transform: uppercase;
}

.filter-catalog-wrapper {
  display: flex;
}

.filter {
  width: 220px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  min-height: 745px;   /* Временно для сетки */
}

.filter legend {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  vertical-align: middle;
  text-align: left;
  text-transform: uppercase;
}

.filter label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  vertical-align: middle;
  text-align: left;
  text-transform: uppercase;
}

.filter label:active {
  opacity: 0.4;
}

.filter li {
  list-style: none;
}

.products-list {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.sorting {
  background-color: #f7f3ec;
  min-height: 38px;  /* Временно для сетки */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sorting p {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 140px;
}

.sorting .sorting-list {
  min-width: 355px; /* Временно для сетки */
  margin-right: 45px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sorting .sorting-control {
  min-width: 45px; /* Временно для сетки */
  margin-right: 15px;
  list-style: none;
}

.sorting-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #acaaa5;
  vertical-align: middle;
  text-align: left;
  text-transform: uppercase;

  border-bottom: 1px dashed #ee3643;
}

.sorting-link:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.active-sorting-link,
.sorting-link:active {
  color: #ee3643;
  border-bottom: none;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 34px;
}

.catalog article {
  width: 220px;
  height: 317px; /* Временно для сетки */
  margin-bottom: 20px;
}

.pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-bottom: 60px;

  min-height: 38px; /* Временно для сетки */
}

.button-page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;

  background-color: #ffffff;
}

.active-page {
  color: #ffffff;

  border: none;

  background-color: #ee3643;
}

.inner-page .about-rotary-hammers {
  background-color: #f2f6f8;
  min-height: 190px; /* Временно для сетки */
  display: flex;
  flex-direction: column;

  margin-bottom: 70px;
}

.about-rotary-hammers-h2,
.about-rotary-hammers-h2 p {
  margin: 0;
  padding: 0;
}

.about-rotary-hammers h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.about-rotary-hammers p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  vertical-align: middle;
}

/* Footer */

.footer {
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.footer-up {
  min-height: 193px;
  display: flex;
  justify-content: space-between;
  background-color: #32425c;
}

.footer-up p,
.footer-up a {
  margin: 0;
  padding: 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.footer-left p,
.footer-left a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  text-decoration: underline;

  width: 330px;
}

.footer-left .logo {
  padding: 0 40px;
  padding-top: 20px;
  padding-bottom: 13px;
  margin-bottom: 30px;
  width: 140px;
}

.footer-up .logo,
.header-up .logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.footer-up .logo:hover,
.header-up .logo:hover {
  background-color: #ca2c37;
}

.footer-up .logo:active,
.header-up .logo:active {
  background-color: #ba2732;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: 36px;

  min-width: 550px;
  min-height: 24px;
}

.footer-up .footer-up-nav,
.footer-up .footer-down-nav {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  list-style: none;
}

.footer-up .footer-up-nav {
  display: flex;
  justify-content: space-between;
}

.footer-right .footer-down-nav {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 72px;
}

.footer-down-nav li {
  padding-left: 28px;
  padding-right: 28px;
}

.footer-down-nav li:last-child {
  padding-right: 0;
}

.footer-right li {
  list-style: none;
}

.footer-right a:hover,
.footer-right a:hover {
  text-decoration: underline;
}

.footer-right a:active,
.footer-right a:active {
  opacity: 0.5;

  text-decoration: none;
}

.footer-up-nav a {
  color: #f3f7f9;
}

.footer-down-nav a {
  color: #ffd180;
}

.footer-down {
  background-color: #293449;
  min-height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-down p {
  color: #ffffff;
}

.footer-down a {
  color: #ffd180;
}

.footer-down a:hover {
  text-decoration: underline;
}

.footer-down a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-copyright {
  width: 230px;
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.social-networks {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  width: 130px;
  text-align: center;
}

.social-networks li {
  height: 42px;
  width: 42px;
  margin: 0;
  padding: 0;

  list-style: none;

  border-radius: 50%;
}

.footer-contacts {
  margin-left: 120px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
}

.footer-contacts p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.social-button {
  color: #ffffff;
}

/* Форма*/

.modal {
  color: #000000;

  background-color: #ffffff;
}

.appointment-form input[type="text"],
textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;

  border: 2px solid #dee3e4;
}

.appointment-form label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.modal-buy {
  background-color: #ffffff;
}

.modal-buy h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-align: left;
  vertical-align: middle;
}

.buttons {
  background-color: #f1f1f1;
}

.white-button {
  color: #000000;
  text-align: left;
  vertical-align: middle;

  background-color: #ffffff;
}
